<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/tripsittr/Library/Application Support/Herd/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.soundchex.queue</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/tripsittr/Library/Application Support/Herd/bin/php84</string>
		<string>/Users/tripsittr/Documents/Tripsittr LLC/SoundChex/SoundChex App/artisan</string>
		<string>queue:work</string>
		<string>--tries=1</string>
		<string>--timeout=21900</string>
		<string>--sleep=1</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/tripsittr/Library/Logs/SoundChex/queue.log</string>
	<key>StandardOutPath</key>
	<string>/Users/tripsittr/Library/Logs/SoundChex/queue.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/tripsittr/Documents/Tripsittr LLC/SoundChex/SoundChex App</string>
</dict>
</plist>
